/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper_full {
    max-width: 1262px;
    margin: 0 auto;
}

.section_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section_title:after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background: rgba(0, 109, 254, 1);
    position: absolute;
    bottom: 0;
    left: 0;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 56px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: 75%;
}

/*intro*/
.intro {
    min-height: 100vh;
    background: url(../images/Hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro_title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro_subtitle {
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.search_form_info {
    display: flex;
    flex-wrap: wrap;
}

.search_form_field {
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    background: transparent url(../images/svg/Oval.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search_form_field::placeholder {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.search_form_submit {
    padding: 15px 39px;
    background: #1B7DFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    border: 0;
}

.search_form_submit:hover,
.search_form_submit:focus,
.search_form_submit:active {
    background: #0e66da;
}

/*intro*/

/*benefit*/

.benefits {
    padding-bottom: 131px;
}

.benefits_wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
    width: 100%;
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits_card {
    grid-column: span 1;
    padding-bottom: 112px;
}

.benefits_card-pic {
    margin-bottom: 37px;
}

.benefits_card_thumb {
    display: block;
}

.benefits_card_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits_card_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits_cards_more {
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    text-transform: uppercase;
    background: url(../images/svg/arrowright.svg) no-repeat 95% center;
    transition: .2s all;
}

.benefits_cards_more:hover,
.benefits_cards_more:focus {
    background: url(../images/svg/arrowright.svg) no-repeat right center;
}

/*benefit*/

/*PLACES*/
.places {
    margin-bottom: 131px;
}

.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places_title {
    margin-right: 15px;
}

.places_view_all {
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../images/svg/arrowright.svg) no-repeat right center;
    padding-right: 59px;
}

.places_view_all:hover,
.places_view_all:focus {
    opacity: .65;
}

.places_cards {
    display: grid;
    grid-template-columns: repeat(6 1fr);
    grid-gap: 10px;
}

.places_card {
    position: relative;
    overflow: hidden;
}

.places_cards:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.places_card:hover .places_card_pic {
    transform: scale(1.05);
}

.places_card_title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
}

.places_card_size_lg {
    grid-column: span 3;
}

.places_card_size_small {
    grid-column: span 2;
}

.places_card_pic {
    width: 100%;
    height: 354px;
    object-fit: cover;
    transition: .15s all;
}

.places_card_pic_size_lg {
    height: 354px;
    object-fit: cover;
}

.places_card_pic_size_small{
    height: 283px;
    object-fit: cover;
}

.places_card_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*PLACES*/